body {
    text-align: center;
    background-color: turquoise;
    font-family: Georgia, serif;
    font-size: large;
}

ul {
    border: 2px solid #333;
    border-radius: 25px;
    max-width: 600px;
    width: 70%;
    margin: 50px auto 0;
    padding: 20px;
    background-color: #fff;
    color: #333;
}

li {
    margin-bottom: 10px;
}
